.user-details {
  background-color: var(--highlightColor);
  align-self: center;
  padding: clamp(4px, 3.5rem, 5rem);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 400px) {
  .user-details {
    width: 100%;
  }
}
