<p>user-table works!</p>
<div class="table-container">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col" class="email">Email</th>

          <th scope="col">Company</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user?.name }}</td>
          <td>{{ user?.username }}</td>
          <td class="email">{{ user?.email }}</td>
          <td class="company?">
            <a href="{{ user?.website }}">
              {{ user?.company?.name }}
            </a>
          </td>

          <td><button (click)="userDetails(user.id)">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between p-2 align-self-center">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="totalUsers"
      (pageChange)="pageChange.emit($event)"
    >
    </ngb-pagination>
  </div>
</div>
