.card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 800) {
  .card-list {
    width: 100%;
    flex-direction: column;
  }
}
