<div class="mb-5">
  <div class="switch">
    <button (click)="changeView('table')">Table View</button>
    <button (click)="changeView('card')">Card View</button>
  </div>
  <div>
    <form [formGroup]="searchForm" (submit)="searchResult()">
      <input
        id="name"
        type="text"
        formControlName="searchKey"
        (input)="searchResult()"
      />
      <button>Search</button>
    </form>
  </div>

  <div *ngIf="view === 'table'; else cardView">
    <h2>Table View</h2>
    <app-user-table
      [users]="paginatedUsers"
      [page]="page"
      [pageSize]="pageSize"
      [totalUsers]="users?.length ?? 0"
      (pageChange)="onPageChange($event)"
    >
    </app-user-table>
  </div>

  <ng-template #cardView>
    <div>
      <h2>Card View</h2>
      <app-user-list
        [users]="paginatedUsers"
        [page]="page"
        [pageSize]="pageSize"
        [totalUsers]="users?.length ?? 0"
        (pageChange)="onPageChange($event)"
      >
      </app-user-list>
    </div>
  </ng-template>
</div>
