main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }

  form {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    height: 50px;
    justify-content: end;
    input {
      width: 80%;
      height: 100%;
      padding: 12px;
      border: 1px solid rgba(128, 128, 128, 0.461);
      border-radius: 12px 0px 0px 12px;
    }
    button {
      border-radius: 0px 12px 12px 0px;
    }
  }
}

.switch {
  display: flex;
  gap: 20px;

  button {
    border: none;
    padding: 12px;
    border-radius: 12px;
    &.active {
      border-bottom: 6px solid black;
      color: aliceblue;
      background-color: var(--hover-color);
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    .title-bar {
      flex-direction: column;
      gap: 20px;
    }

    form {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
