.card {
  display: flex;
  flex-direction: column;
  background-color: var(--highlightColor);
  border-radius: 20px;
  padding: 20px;
  min-width: 200px;
  &:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: aliceblue;
  }
}

@media screen and (max-width: 800) {
  .card-list {
    width: 100%;
  }
}
